@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

body{
	font-size: 12px;
    font-family: Roboto-regular, Arial;
}
a{color: #305AE6;}
a:hover{ color: #305AE6; text-decoration: underline; }
.public {
    background: #088A08;
    padding: 4px 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.user-panel{
    line-height: 50px;
}
i.ion {
    font-size: 2.5rem;
}